.mat-raised-button, .mat-form-field {
  margin: 5px;
}

.data-table {
  margin: 10px;
  height: 80vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.row-action-buttons {
  text-align: right;
}

.action-button-width {
  max-width: 200px;
}

.column-deletion-dropdown {
  max-width: 400px;
  margin-top: 0;
}

.table-action-bar {
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.table-action-buttons {
  display: flex;
}

.column-deletion-actions {
  display: flex;
}
